{% extends 'base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<div class="manufacturing-dashboard">
  <div class="dashboard__header" id="job-order__header" style="margin-bottom: -5px;">
      <h2 class="dashboard__sub-title">İş Emirleri</h2>
      <ul class="dashboard__header-filters">
          <li>
              <a href="#">Yıllık</a>
          </li>
          <li>
              <div class="vertical"></div>
          </li>
          <li>
              <a href="#">Aylık</a>
          </li>
          <li>
              <div class="vertical"></div>
          </li>
          <li>
              <a href="#">Günlük</a>
          </li>
      </ul>
  </div>
  <div class="row" id="dashboard-row-1">
      <div class="job-order__list">
          <div class="dashboard__transfers col" style="position: relative;">
              <div class="job-order__list-header">
                  <nav class="nav-tabs" id="nav-tabs">
                      <button class="active">
                      Aktif
                      <span>7</span>
                      </button>
                      <button>
                      Bekleyen
                      <span>8</span>
                      </button>
                      <button>
                      Tamamlanan
                      <span>17</span>
                      </button>
                  </nav>
                  <div class="btn-div">
                      <button hx-get="{% url 'create-job-order-form' %}" hx-target="#dialog" class="btn-primary">İş Emri Oluştur</a>
                  </div>
              </div>
              <div class="transfer__header">
                <h2>İş Emri Listesi</h2>
                <div class="filter-options">
                    <p>Filtre seçildi: En Yeni</p>
                    <button class="icon-button">
                        <i class="fas fa-filter"></i>
                    </button>
                    <button class="icon-button" hx-get="{% url 'create-potential-client' %}" hx-target="#dialog">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
              </div>
              <div id="job_order-list" class="transfers" style="margin-bottom: 90px;" hx-get="{% url 'job-order-list' %}" hx-trigger="load, joborderChanged from:body">
                <tr><td>Yükleniyor..</td></tr>
              </div>
              <div class="btn-div" style="position: absolute; bottom: 0; right: 0; margin-top: 10px;">
                <a class="btn-primary" href="#">Tümünü Gör</a>
              </div>
          </div>
        </div>
      <div class="top-row-notes">
          <div class="panel">
              <!--<div class="panel__go-to">></div>-->
              <div class="panel__info">
                  <h4><i class="fas fa-sun"></i> En Sık Üretilen Ürün</h4>
                  <span>Işın Kılıcı</span>
                  <p>Bu ay 56 adet <em>Işın Kılıcı</em> üretildi.</p>
                  <div class="panel__notification">
                      <div class="notify">
                          <button class="btn-primary">Raporu Gör</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel">
              <!--<div class="panel__go-to">></div>-->
              <div class="panel__info">
                  <h4 style="margin-bottom: 25px; font-size: 18px;"><i class="fas fa-comment"></i> İK Notu</h4>
                  <p>IE-03-Sx93a7 kodlu İş Emri</p>
                  <p style="float: right; margin-right: 20px; margin-top: 10px;">- Stephanie Myles</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="job-order__personal-list">
          <div class="dashboard__transfers col">
              <div class="transfer__header">
                  <h2>Personel Listesi</h2>
                  <div class="filter-options">
                      <p>Filtre seçildi: Somun, Artan</p>
                      <button class="icon-button">
                          <i class="fas fa-filter"></i>
                      </button>
                  </div>
              </div>
              <div class="transfers" hx-get="{% url 'manufacturing-personel-list' %}" hx-trigger="load">
                  <div class="transfer">
                      <!--<div class="transfer-logo">
                          <img src="https://assets.codepen.io/285131/apple.svg" />
                      </div>-->
                      <dl class="transfer-details">
                          <div>
                              <dt>Polat Alemdar</dt>
                              <dd>İsim</dd>
                          </div>
                          <div>
                              <dt>Kaynak</dt>
                              <dd>Uzmanlık</dd>
                          </div>
                          <div>
                              <dt>Müsait</dt>
                              <dd>Durum</dd>
                          </div>
                      </dl>
                      <div class="transfer-edit">
                          <button id="manufacturing-modal-edit-personel-" class="icon-button"><i class="fas fa-edit"></i></button>
                      </div>
                  </div>
              </div>
          </div> 
      </div>
      <div class="manufacturing-charts">
          <div class="chart-box-large">
              <canvas id="job_order_chart"></canvas>
          </div>
          <div class="bottom-chart-boxes">
              <div class="chart-box">
                  <canvas id="manufactured_chart"></canvas>
              </div>
              <div class="chart-box">
                  <canvas id="fav_product_chart"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  const job_order_chart_ctx = document.getElementById('job_order_chart').getContext('2d');
  const job_order_chart = new Chart(job_order_chart_ctx, {
      type: 'line',
      data: {
          labels: ['Ocak','Şubat','Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos'],
          datasets: [{
              label: 'Aylara Göre Üretilen Toplam Ürün Sayıları',
              data: [49, 76, 68, 119, 103, 96, 86, 105],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive:true,
          maintainAspectRatio: false,
          scales: {
              y: {
                  beginAtZero: true,
                  min: 0,
                  max: 140,
                  ticks: {
                      stepSize:20,
                  },
                  grid: {
                      display: false
                  },
              },
              x: {
                  grid: {
                      display: false,
                  }
              }
          }
      }
  });
  const manufactured_chart_ctx = document.getElementById('manufactured_chart').getContext('2d');
  const manufactured_chart = new Chart(manufactured_chart_ctx, {
      type: 'bar',
      data: {
          labels: ['Ocak','Şubat','Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos'],
          datasets: [
              {
              label: 'Üretilmesi Gereken (Aylık)',
              data: [40, 38, 30, 45, 36, 35, 40, 35],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          },
              {
              label: 'Üretilen (Aylık)',
              data: [30, 25, 32, 40, 50, 43, 58, 57],
              backgroundColor: [
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
              ],
              borderColor: [
                  'rgba(153, 102, 255, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(153, 102, 255, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          title: {
              display:true,
              title: 'Sipariş - Üretim Kıyaslaması'
          },
          responsive:true,
          maintainAspectRatio: false,
          scales: {
              y: {
                  beginAtZero: true,
                  min: 0,
                  max: 60,
                  ticks: {
                      stepSize:10,
                  }

              }
          }
      }
  });
  const fav_product_chart_ctx = document.getElementById('fav_product_chart').getContext('2d');
  const fav_product_chart = new Chart(fav_product_chart_ctx, {
      type: 'doughnut',
      data: {
          labels: ['Dengeleyici', 'Işın Kılıcı', 'Roket Atar Füzesi', 'Poke Topu'],
          datasets: [{
              label: 'En Sık Üretilen Ürünler %',
              data: [15, 40, 30, 15],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive:true,
          maintainAspectRatio: false,
          scales: {
              y: {
                  beginAtZero: true,
                  min: 0,
                  max: 140,
                  ticks: {
                      stepSize:20,
                  },
                  grid: {
                      display: false
                  },
                  display: false
              },
              x: {
                  grid: {
                      display: false,
                  },
                  display: false
              }
          }
      }
  });
</script>
<script>
  const navTabs = document.querySelectorAll("#nav-tabs > button");
  navTabs.forEach((tab) => {
  tab.addEventListener("click", () => {
      navTabs.forEach((tab) => {
      tab.classList.remove("active");
      });
      tab.classList.add("active");
  });
  });
</script>
{% endblock %}