{% for invoice in invoices %}
<div class="transfer">
    <!--<div class="transfer-logo">
        <img src="https://assets.codepen.io/285131/apple.svg" />
    </div>-->
    <dl class="transfer-details">
        <div>
            <dt>{{invoice.invoice_id}}</dt>
            <dd>Fatura ID</dd>
        </div>
        <div>
            <dt>{{invoice.invoice_date}}</dt>
            <dd>Düzenleme Tarihi</dd>
        </div>
        <div>
            <dt>{{invoice.name}}</dt>
            <dd>İsim</dd>
        </div>
        <div>
            <dt>{{invoice.invoice_type}}</dt>
            <dd>Fatura Tipi</dd>
        </div>
        <div>
            <dt>{{invoice.phone_number}}</dt>
            <dd>Telefon No</dd>
        </div>
        <div>
            <dt>245.000 ₺</dt>
            <dd>Genel Toplam</dd>
        </div>
    </dl>
    <div class="transfer-edit">
        <button hx-get="{% url 'edit-invoice-form' invoice.id %}" hx-target="#dialog" class="icon-button"><i class="fas fa-edit"></i></button>
    </div>
    <div class="transfer-edit">
        <button hx-trigger="confirmed" hx-delete="{% url 'delete-invoice' invoice.id %}" hx-target="#invoice-list" id="delete-invoice-btn-{{invoice.id}}" type="submit" class="icon-button delete-button"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>

{% endfor %}
<script>
    $(document).ready(function(){
          
          $(':button').on('click', function(){
            if($(this).hasClass('delete-button')) {
                Swal.fire({
                text: 'Ögeyi silmek istediğinizden emin misiniz?', 
                showDenyButton: true,
                confirmButtonText: 'Evet',
                denyButtonText: 'Hayır',
                }).then((result) => {
                    if(result.isConfirmed) {
                        var id = $(this).attr("id");
                        htmx.trigger(`#${id}`, 'confirmed');
                        Swal.fire({
                        toast: true,
                        icon: 'success',
                        title: 'Öge Silindi',
                        animation: true,
                        position: 'bottom',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    })
                    } else if (result.isDenied) {
                        Swal.fire({
                        toast: true,
                        icon: 'error',
                        title: 'İşlem İptal Edildi',
                        animation: true,
                        position: 'bottom',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    })
                    }
                })
            }
          })
        })
    
</script>
