{% for order in orders %}
<div class="transfer">
    <!--<div class="transfer-logo">
        <img src="https://assets.codepen.io/285131/apple.svg" />
    </div>-->
    <dl class="transfer-details">
        <div>
            <dt>{{order.job_order_id}}</dt>
            <dd>İş Emri ID</dd>
        </div>
        <div>
            <dt>{{order.executive}}</dt>
            <dd>Yetkili</dd>
        </div>
        <div>
            <dt>{{order.date_created|date:"M d, Y" }}</dt>
            <dd>Veriliş Tarihi</dd>
        </div>
        <div>
            <dt>{{order.deadline|date:"M d, Y" }}</dt>
            <dd>Son Tarih</dd>
        </div>
        <div>
            <dt>{{order.products.first.name}}</dt>
            <dd>Ürün İsmi</dd>
        </div>
        <div>
            <dt>{{order.product_quantity}}</dt>
            <dd>Ürün Adedi</dd>
        </div>
        <div>
            <dt><a class="btn-secondary" href="#" style="color:wheat;">Yüklenen Dosyalar</a></dt>
        </div>
    </dl>
    <div class="transfer-edit"style="margin-left: 35px;">
        <button hx-get="{% url 'edit-job-order-form' order.id %}" hx-target="#dialog" class="icon-button"><i class="fas fa-edit"></i></button>
    </div>
    <div class="transfer-edit"style="margin-left: 35px;">
        <button hx-trigger="confirmed" hx-delete="{% url 'delete-order' order.id %}" hx-target="#job_order-list" type="submit" class="icon-button delete-button" id="delete-job_order-btn-{{income.id}}"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>
{% endfor %}
<script>
    $(document).ready(function(){
          
          $(':button').on('click', function(){
            if($(this).hasClass('delete-button')) {
                Swal.fire({
                text: 'Ögeyi silmek istediğinizden emin misiniz?', 
                showDenyButton: true,
                confirmButtonText: 'Evet',
                denyButtonText: 'Hayır',
                }).then((result) => {
                    if(result.isConfirmed) {
                        var id = $(this).attr("id");
                        htmx.trigger(`#${id}`, 'confirmed');
                        Swal.fire({
                        toast: true,
                        icon: 'success',
                        title: 'Öge Silindi',
                        animation: true,
                        position: 'bottom',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    })
                    } else if (result.isDenied) {
                        Swal.fire({
                        toast: true,
                        icon: 'error',
                        title: 'İşlem İptal Edildi',
                        animation: true,
                        position: 'bottom',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    })
                    }
                })
            }
          })
        })
    
</script>